body {
    background-color: lavender;
    margin: 0;
    padding: 0;
}
  
.container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: grey;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  margin: 10px 5px;
}
  
input, select, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}
button {
  padding: 10px;
  background-color: rgb(1, 1, 184);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
button:hover {
  background-color: rgb(1, 1, 85);
}
.button-container {
  display: flex; 
  justify-content: flex-start;
  gap: 10px; 
}
  
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
  
table th, table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}


/*for responsiveness*/
@media (max-width: 768px) {
  .container {
    width: 75%;
  }
}
  
